/*

   Author: Kahle Finn
   Date:   11.24.2024

   Filename:         forms.css

*/

/* Form Layout Styles */

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0px

	
}

div.formRow > * {
	flex: 1 1 300px
}


/* Legend Styles */

legend {
	background-color: grey;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: 2em;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

/* Text Area Styles */


textarea {
	margin-top: 10px;
	height: 100px;
	Width: 95%;
	font-family: Tahoma, Geneva, sans-serif;
}




/* Form Button Styles */

div#buttons {
	text-align: center;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	
}


